html {
  //overflow-y: auto;
}

body {
  overflow-x: hidden;
  color: $common-text-color;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.content {
  p {
    margin: 16px 0;
  }
}

.theme--light.v-application {
  background-color: $body;
}

.v-card {
  padding: rem(40) rem(20) rem(20);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #05082C;
  box-shadow: inset 0 0 5px #05082C;
}

::-webkit-scrollbar-thumb {
  background: #DD2121;
}

@include breakpoint($lg) {
  html {
    font-size: 15px;
  }
}

@include breakpoint($md) {
  html {
    font-size: 14px;
  }
}

@include breakpoint($sm) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}