.footer {
  padding: 44px 0 41px 0;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../../../../../public/images/footer-mask.svg");
    background-size: cover;
    z-index: -1;
  }

  &-left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;


    &-text {
      font-family: 'Saira Light';
      font-weight: 400;
      font-size: 14px;
      line-height: 37px;
      letter-spacing: 0.5%;
      margin-top: 14px;
      color: #FFFFFF;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 12px 0;


    &-first {
      position: relative;
      left: 30px;
      padding: 12px 0;

      &:before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        background: rgba(#FFFFFF, 0.3);
        left: -30px;

      }
    }

    a {
      font-family: 'Saira Light';
      font-weight: 400;
      font-size: 18px;
      line-height: 37px;
      letter-spacing: 0.5%;
      color: #FFFFFF;
    }
  }
}

.all-rights-mobile{
  display: none;
}

@media (max-width: 998px) {
  .footer {

    padding: 44px 0 20px 0;

    &-left svg{
      width: 35%;
    }

    &-right {


      &-first {
        left: 0;
        padding-bottom: 0;
        padding-top: 28px;

        &:before {
          width: 0;
          left: 0;
          display: none;
        }
      }
    }
  }

  .all-rights-web{
    display: none;
  }

  .all-rights-mobile{
    display: block;

  }
}